.root {
    -fx-background-color: #202020;
    -fx-font-size: 20px;
    -fx-padding: 50px;
    -fx-alignment: center;
}

.button {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #202020;
}

.button:hover {
    -fx-background-color: #F5F5F5;
}

.label {
    -fx-text-fill: #FFFFFF;
    -fx-padding: 10px;
}